*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(82, 51, 51);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    background: white;
    padding: 20px;
}

header > h1 {
    color: rgb(82, 51, 51);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#results > p {
    font-size: 25px;
    padding: 10px;
    font-weight: bold;
}

.choices {
    display: inline-block;
    margin: 40px 20px;
    border: 4px solid white;
    padding: 35px;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.morechoices {
    display: inline-block;
    transition: all 0.2s ease;
}

.choices:hover {
    cursor: pointer;
    background: rgb(124, 78, 78);
}

.morechoices:hover {
    cursor: pointer;
    background: rgb(124, 78, 78);
}

#action {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px 0;
    font-size: 25px;
}
#reset {
    background-color: white;
    border-radius: 15px;
    color: rgb(124, 78, 78);
    padding: 15px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#reset:hover {
    color: rgb(54, 6, 6);
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}